server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ahmedabdelnaby/dento-config-server.git
          default-label: master
          timeout: 5
          clone-on-start: true
          force-pull: true